<div id="main-grid">
  <div id="text-area-grid" [formGroup]="form">
    <textarea #input id="input" formControlname="inputText">Hallo, dit is een zin die ik wil transformeren..!</textarea>
    <div id="output">
      <app-verhaal [verhaal]="outputVerhaal"></app-verhaal>
    </div>
  </div>
  <form id="config-grid">
    <button type="button" class="btn btn-primary" (click)="onTransform()">Transformeren</button>
    <br>
    <br>
    <app-checkbox [form]="form" [controlName]="'langereWoordenGrotereLetters'">Maak langere woorden groter</app-checkbox>
    <app-checkbox>Verwijder klinkers</app-checkbox>
</form>