@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#main-grid {
    display: flex;
    align-items: stretch;
    font-family: arial;
}

#text-area-grid {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#input, #output {
    flex: 1 1 300px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#output {
    border: 1px solid gray;
    padding: 20px;
    margin-top: 60px;
}

#config-grid {
    flex: 0 0 500px;
    padding: 20px;
}

button {
    padding: 10px;
}

.char:nth-child(even) {
    color: red;
}